header {
    width: 1440px;
    margin: auto;
    padding: 59px 98px;
    background-color: brown;
}

.headerlogo {
    vertical-align: middle;
    width: 127px;
}

.inlineblok {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

}

.articlediv {
    width: 1440px;
    /* height: 1051px; */
    background-color: aqua;
    margin: auto;

}

.top {
    width: 232px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    padding-top: 94px;
    padding-left: 98px;
    padding-right: 1000px;
    font-family: 'Ubuntu', sans-serif;


}

.articlediv {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}