
/*  header starts */
.cover {
    width: 1440px;
    height: 160px;
    margin: auto;
    padding-top: 57px;
    padding-left: 98px;
    padding-right: 1215px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news{
    display: flex;
    align-items: center;
    
    padding-left: 545px;
    gap: 50px;
}

li {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
   display: flex;
   padding-right: 50px;
  
    font-family: 'Ubuntu', sans-serif;

}

.icon {
    display: flex;
    border: solid;

}
/* end of header */

/* section's starting */
.main {
    width: 1440px;
    height: 1051px;
    margin: auto;
    background-color: #DDEAF8;
    padding-top: 190px;
    padding-left: 98px;
    padding-right: 98px;
    padding-bottom: 135px;
    
}

h2 {
    width: 232px;
    height: 37px;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    padding-bottom: 68px;
    font-family: 'Ubuntu', sans-serif;
    color: #27187F;
}

.item {
    max-width: 1440px;
    width: 100%;
    /* height: 900px; */
    margin: auto;
    border: 40% solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 100px;


}

.photo {
    width: 350px;
    height: 200px;
}

.backcolor {
    width: 400px;
    height: 280px;
    padding: 33px 30px 112px;
    background-color: #FFFFFF;
}

.text {
    width: 340px;
    height: 46px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;

    padding-top: 10px;
}
/* end of section */
/* its footer */
.last {
    width: 1440px;
    height: 239px;
    margin: auto;
    
    background-color: #758BFD;
}
.footerdiv{
 display: inline-block;
}

.info {
    padding-top: 75px;
    padding-left: 98px;
    font-weight: 400;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
    color: #00CAD7;
}

.post {
    font-weight: 400;
    font-size: 20px;
    padding-left: 98px;
    padding-top: 21px;
    font-family: 'Nunito', sans-serif;
     color: #FFFFFF;
}
.footericon{
    
    padding-left: 98px;
    display: flex;
    padding-bottom: 75px;
    
}
.pad{
    padding-left: 24px;
    padding-right: 24px;
}

.footerphoto{
    width: 40px;
    height: 40px;
    display: flex;
      align-items: center;
    justify-content: space-between;
   
}
   /* ending  */
   /* ვერმივხვდი რატომ ვერ შევიტანე ეს ფოტოები დივში.სიმაღლეც გავუზარდე,მაგრამ მაინც არგამომივიდა:((  */
    
   
    